## Settings file was created by plugin NewTerminal v1.3.0
## Plugin GUID: NewTerminal

[TerminalMenus.accessTerminalObjects-cmd]

# Setting type: String
# Default value: b3
B3-cmd = b3

# Setting type: String
# Default value: c1
C1-cmd = c1

# Setting type: String
# Default value: c2
C2-cmd = c2

# Setting type: String
# Default value: c7
C7-cmd = c7

# Setting type: String
# Default value: d6
D6-cmd = d6

# Setting type: String
# Default value: f2
F2-cmd = f2

# Setting type: String
# Default value: h5
H5-cmd = h5

# Setting type: String
# Default value: i1
I1-cmd = i1

# Setting type: String
# Default value: j6
J6-cmd = j6

# Setting type: String
# Default value: k9
K9-cmd = k9

# Setting type: String
# Default value: l0
L0-cmd = l0

# Setting type: String
# Default value: m6
M6-cmd = m6

# Setting type: String
# Default value: m9
M9-cmd = m9

# Setting type: String
# Default value: o5
O5-cmd = o5

# Setting type: String
# Default value: p1
P1-cmd = p1

# Setting type: String
# Default value: r2
R2-cmd = r2

# Setting type: String
# Default value: r4
R4-cmd = r4

# Setting type: String
# Default value: t2
T2-cmd = t2

# Setting type: String
# Default value: u2
U2-cmd = u2

# Setting type: String
# Default value: u9
U9-cmd = u9

# Setting type: String
# Default value: v0
V0-cmd = v0

# Setting type: String
# Default value: x8
X8-cmd = x8

# Setting type: String
# Default value: y9
Y9-cmd = y9

# Setting type: String
# Default value: z3
Z3-cmd = z3

[TerminalMenus.Other]

# Setting type: String
# Default value: >MOONS\n航行可能な惑星のリストを表示\n\n>STORE\nストアで販売されている便利なアイテムを表示\n\n>BESTIARY\n野生動物のリストを表示\n\n>STORAGE\nストレージに置かれたオブジェクトを表示\n\n>OTHER\nその他のコマンドリストを表示\n[numberOfItemsOnRoute]\n
Help = >MOONS\n航行可能な惑星のリストを表示\n\n>STORE\nストアで販売されている便利なアイテムを表示\n\n>BESTIARY\n野生動物のリストを表示\n\n>STORAGE\nストレージに置かれたオブジェクトを表示\n\n>OTHER\nその他のコマンドリストを表示\n[numberOfItemsOnRoute]\n

# Setting type: String
# Default value: help
Help-cmd = help

# Setting type: String
# Default value: Welcome to the Company store. \nUse words BUY and INFO on any item. \nOrder tools in bulk by typing a number.\n____________________________\n\n[buyableItemsList]\n\nSHIP UPGRADES:\n* Loud horn    //    Price: $100\n* Signal Translator    //    Price: $255\n* Teleporter    //    Price: $375\n* Inverse Teleporter    //    Price: $425\n\nThe selection of ship decor rotates per-quota. Be sure to check back next week:\n------------------------------\n[unlockablesSelectionList]\n\n
Store = 当社のストアへようこそ。\n商品を購入するには\"BUY\"\n詳しく見るには\"INFO\"を入力してください。\n商品名の後に数量を入力しての注文も可能です。\n____________________________\n[buyableItemsList]\n\n船のアップグレード:\n* Loud horn  //    Price: $150\n* Signal Translator    //    Price: $255\n* Teleporter    //    Price: $375\n* Inverse-Teleporter    //    Price: $425\n\n船内装飾(ノルマごとにラインナップ入替):\n____________________________[unlockablesSelectionList]\n\n

# Setting type: String
# Default value: store
Store-cmd = store

# Setting type: String
# Default value: BESTIARY\n\nTo access a creature file, type \"INFO\" after its name.\n---------------------------------\n\n[currentScannedEnemiesList]\n\n\n
Bestiary = BESTIARY\n\n特定の生物に関する情報を調べるには\n\"INFO\"の後にその英語名を入力します。\n---------------------------------\n\n[currentScannedEnemiesList]\n\n

# Setting type: String
# Default value: bestiary
Bestiary-cmd = bestiary

# Setting type: String
# Default value: Reset credits to 200. 
CheatResetCredits = クレジットを200にリセット。

# Setting type: String
# Default value: reset credits
CheatResetCredits-cmd = reset credits

# Setting type: String
# Default value: Welcome to the exomoons catalogue.\nTo route the autopilot to a moon, use the word ROUTE.\nTo learn about any moon, use INFO.\n____________________________\n\n* The Company building   //   Buying at [companyBuyingPercent].\n\n* Experimentation [planetTime]\n* Assurance [planetTime]\n* Vow [planetTime]\n\n* Offense [planetTime]\n* March [planetTime]\n* Adamance [planetTime]\n\n* Rend [planetTime]\n* Dine [planetTime]\n* Titan [planetTime]\n\n
Moons = exomoonsカタログへようこそ。\n自動操縦で惑星に行くには\"ROUTE\"と入力してください。\n各惑星について知るには\"INFO\"と入力してください。\n____________________________\n\n* The Company building   // 現在買取価格：[companyBuyingPercent]\n\n* Experimentation [planetTime]\n* Assurance  [planetTime]\n* Vow [planetTime]\n\n* Offense  [planetTime]\n* March  [planetTime]\n* Adamance [planetTime]\n\n* Rend  [planetTime]\n* Dine  [planetTime]\n* Titan  [planetTime]\n\n

# Setting type: String
# Default value: moons
Moons-cmd = moons

# Setting type: String
# Default value: This selection rotates per-quota. Be sure to check back next week!\n____________________________\n\n[unlockablesSelectionList]\n
Suits = 船内装飾\n※ラインナップはノルマごとに入れ替わります。\n来週も要チェック！\n____________________________\n\n[unlockablesSelectionList]\n

# Setting type: String
# Default value: decor
Suits-cmd = decor

# Setting type: String
# Default value: To order any item, use the word BUY.\n____________________________\n\n* Teleporter      //    Price: $400\n\n\n\n\n\n
Upgrades = 商品を注文するには\"BUY\"と入力してください。\n____________________________\n\n* Teleporter      //    価格: $400\n\n\n\n\n\n

# Setting type: String
# Default value: upgrades
Upgrades-cmd = upgrades

# Setting type: String
# Default value: SIGURD\'S LOG ENTRIES\n\nTo read a log, use keyword \"VIEW\" before its name.\n---------------------------------\n\n[currentUnlockedLogsList]\n\n\n
Sigurd = SIGURDのログ\n\nログを読むには、ログ名の前に\"VIEW\"と入力してください。\n---------------------------------\n\n[currentUnlockedLogsList]\n\n

# Setting type: String
# Default value: sigurd
Sigurd-cmd = sigurd

# Setting type: String
# Default value: While moving furniture with [B], you can press [X] to send it to storage. You can call it back from storage here.\n\nThese are the items in storage:\n\n[storedUnlockablesList]\n
Storage = 家具を移動中に収納ボタンを押すと、家具を倉庫に送ることができます。ここで収納から呼び戻すことができます。\n保管されているアイテム：\n\n[storedUnlockablesList]\n

# Setting type: String
# Default value: storage
Storage-cmd = storage

# Setting type: String
# Default value: Other commands:\n\n>VIEW MONITOR\nTo toggle on AND off the main monitor\'s map cam\n\n>SWITCH [Player name]\nTo switch view to a player on the main monitor\n\n>PING [Radar booster name]\nTo make a radar booster play a noise.\n\n>TRANSMIT [message]\nTo transmit a message with the signal translator\n\n>SCAN\nTo scan for the number of items left on the current planet.\n\n\n
Other = コマンド：\n\n>VIEW MONITOR\nメインモニターの地図カメラのオン・オフを切り替える\n\n>SWITCH [プレイヤー名]\nメインモニター上の対応するプレイヤーの視点に表示切替\n\n>PING [レーダーブースターの名称]\nレーダーブースターから音を出す\n\n>TRANSMIT [メッセージ]\n全クルーにメッセージを送信する(信号送信器が必要)\n\n>SCAN\n現在の惑星に残っているアイテムの数をスキャンする\n\n

# Setting type: String
# Default value: other
Other-cmd = other

# Setting type: String
# Default value: [scanForItems]\n
Scan = [scanForItems]\n

# Setting type: String
# Default value: scan
Scan-cmd = scan

# Setting type: String
# Default value: Switching radar cam view.\n\n
Switch = プレイヤーを切り替え\n

# Setting type: String
# Default value: switch
Switch-cmd = switch

# Setting type: String
# Default value: Do you want to eject all crew members, including yourself? You must be in orbit around a moon. \n\nPlease CONFIRM or DENY.\n\n
Eject = 全てのクルーメンバーを船から「排出」しますか？（船が軌道上にいる必要があります。）\n\n確認 (CONFIRM) / 拒否 (DENY)\n\n

# Setting type: String
# Default value: eject
Eject-cmd = eject

